@model Cargo4You.Models.CalculationViewModel

<div class="row justify-content-around">
    @foreach (var item in Model.CalculatedCouriesPrices)
    {
        <div class="card text-white bg-info mb-3 col-xl-4 d-flex align-items-stretch" style="max-width: 18rem;">
            <div class="card-header">@item.CourierName</div>
            <div class="card-body">
                <h5 class="card-title text-center">@item.Price €</h5>
            </div>
        </div>
    }
</div>