@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Cargo4You.BusinessObjects.SharedObjects.Courier>

<h1>Couriers</h1>
@foreach (var courier in Model)
{
    <h1>@courier.Id</h1>
    <h1>@courier.Location</h1>
    <h1>@courier.PhoneNumber</h1>
}

